{% extends 'base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
{% if request.session.cart_size > 0 %}
<div class="container">
    <form method="post", action="{% url 'ShopApp:clear' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Очистить корзину">
    </form>
</div>
<div class="container mt-4">
    {% for item, quantity in cart_items %}
    <div class="card mb-4">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-primary">Товар: {{item.name}} <br> Цена: {{item.price}} Кол-во: {{quantity}}</p>
          </blockquote>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">
    {% if cart_sum > 0 %}
    <p>Итоговая сумма заказа: {{cart_sum}}</p>
    {% endif %}
    <form method="post", action="{% url 'ShopApp:order' %}">
        {% csrf_token %}
        {% include 'form_field.html' with form=order_form %}
        <input type="submit" class="btn btn-outline-primary" value="Оформить заказ">
    </form>
</div>
{% else %}
<div class="container">
<p>В вашей корзине пока что нет покупок, перейдите в каталог, чтобы добавить</p>
</div>
{% endif %}
{% endblock %}